@model UniFinder.UniversityTbl

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["uniname"] != null)
{
    <script language="javascript">
        alert('@TempData["uniname"]');
        TempData["uniname"] = null;
    </script>
}
@using (Html.BeginForm("Create", "University", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Create University</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("University Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.UniName, new
            {
                htmlAttributes = new
                {
                    @class = "form-control alphabetsonly",
           @maxlength = "20",
           @minlength = "1",
           required = "required",
       }
            })
            @Html.ValidationMessageFor(model => model.UniName, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.Status, new { htmlAttributes = new { @class = "form-check-input"}, @checked = true })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@
    <div class="form-group">
        @Html.LabelFor(model => model.Picture, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="ImageFile" required>
            @*@Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", @type = "file", @name = "file", @onchange = "show(this)" } })
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-6">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>
</div>
}


