@model UniFinder.PaymentToUni

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PaymentToUni</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormStatu.FormCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormStatu.FormCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniversityTbl.UniName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversityTbl.UniName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UniTransID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
